p {
    color: white;
    font-weight: 600;
}



header {
    width: 100%;
    background-color:#010081; 
    height: 30px;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 90%;
}