.bar {
    display: flex;
    flex-direction: row;
    background-color:#010081;
    width: 100%;
    height: 30px;
    align-items: center;
    margin-bottom: 5%;
}

.bar p {
    margin-left: 3%;
}

.main {
    width: 20%;
    height: 200px;
    border: 3px outset rgb(131, 131, 131);
}

.socials {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .main {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }
}